.map {
    border: 2px solid #2c3e50;
    float: right;
    width:18%;
    height: 400px;
    margin: 70px;
    
}
.hotelRoom{
    width: 100%;
    height: 657px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/Image/Rectangle\ 1.png");
    background-position: center;
    background-size: cover;
    background-blend-mode: normal;
}
