  
.login-form{
    margin:30px 100px;
}
.login-form input {
    display: block;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}
.error{
    color: red;
}
button{
    width: 22%;
    margin-left: 7%;
    border-radius: 10px;
    background-color: blanchedalmond ;
    
}